<!doctype html>
<title>Sentiment-analysis demo</title>
<form action="{{ url_for('index_page') }}" method=post>
    <dl>
        <dt style = "font-family:calibri;font-size:18px;">Enter movie review here (English only): <br>
        <br>
        <dd style = "font-family:calibri;font-size:18px;"><textarea name=text rows=15 cols=70>{{ text }}</textarea>
        <dd><input type=submit value="Analyse">
    </dl>
</form>

<dt style = "font-family:calibri;font-size:18px;">Sentiment prediction:
{{ prediction_message }}
